#spectacle-root {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
}

#map-pane-right {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}

#mbgl-map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#iframe-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}